In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
from functools import reduce

In [37]:
clients = pd.read_excel('CASE_CLIENTS.xlsx')
contracts = pd.read_excel('CASE_CONTRACTS.xlsx')
looses = pd.read_excel('CASE_LOSSES.xlsx')
exper = pd.read_excel('experiment_group.xlsx')

In [38]:
dataframes = [clients, contracts, looses, exper]
data = reduce(lambda left, right: pd.merge(left, right, on='client_id', how='outer'), dataframes)

In [39]:
data

,client_id,last_name,first_name,middle_name,age,sex,contract_id,contract_num,product_name,contract_status,currency_name,duration,country,price,insurance_amount,loss_id,loss_name,loss_payout_amt,group,experiment_id
0,10000041307,З*****,Р*****,О*****,30.0,F,2.136426e+08,БТАСЕ273 -*****,Страхование путешественников,Завершен,Российский рубль,10.0,Азербайджан,548.0,1000000.0,NaN,NaN,NaN,test,policy_pricing
1,10000133158,И*****,М*****,Ю*****,37.0,M,2.136475e+08,ТМГФ5Е7 № *****,Страхование путешественников,Завершен,Российский рубль,10.0,Азербайджан,548.0,1000000.0,NaN,NaN,NaN,test,policy_pricing
2,100003773,Е*****,О*****,С*****,50.0,M,2.164673e+09,ДСЖ-5/1539*****,Страхование путешественников,Действует,Российский рубль,14.0,Франция,3836.0,5000000.0,NaN,NaN,NaN,control,policy_pricing
3,10000535718,Е*****,Ф*****,Ч*****,45.0,M,2.164685e+09,ТТЕ7227779*****,Страхование путешественников,Действует,Российский рубль,14.0,Франция,3836.0,5000000.0,NaN,NaN,NaN,control,policy_pricing
4,10000583119,И*****,Ф*****,Ф*****,28.0,M,2.136530e+08,ДСЖ-5/1539*****,Страхование путешественников,Завершен,Российский рубль,10.0,Узбекистан,548.0,1000000.0,NaN,NaN,NaN,test,policy_pricing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14837,11919548695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,test,policy_pricing
14838,11919548696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,test,policy_pricing
14839,11996903168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,test,policy_pricing
14840,11996903169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,test,policy_pricing
14841,11996903170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,test,policy_pricing

In [40]:
data.isnull().sum()

client_id               0
last_name           11131
first_name          11149
middle_name         11389
age                 11131
sex                 11131
contract_id         11131
contract_num        11131
product_name        11131
contract_status     11131
currency_name       11131
duration            11131
country             11131
price               11131
insurance_amount    11131
loss_id             14797
loss_name           14797
loss_payout_amt     14797
group                2493
experiment_id           0
dtype: int64

In [41]:
data = data.dropna(subset=['group','price'])

In [42]:
data.isnull().sum()

client_id              0
last_name              0
first_name            18
middle_name          250
age                    0
sex                    0
contract_id            0
contract_num           0
product_name           0
contract_status        0
currency_name          0
duration               0
country                0
price                  0
insurance_amount       0
loss_id             3572
loss_name           3572
loss_payout_amt     3572
group                  0
experiment_id          0
dtype: int64

In [60]:
data

,client_id,last_name,first_name,middle_name,age,sex,contract_id,contract_num,product_name,contract_status,currency_name,duration,country,price,insurance_amount,loss_id,loss_name,loss_payout_amt,group,experiment_id
0,10000041307,З*****,Р*****,О*****,30.0,F,2.136426e+08,БТАСЕ273 -*****,Страхование путешественников,Завершен,Российский рубль,10.0,Азербайджан,548.0,1000000.0,NaN,NaN,NaN,test,policy_pricing
1,10000133158,И*****,М*****,Ю*****,37.0,M,2.136475e+08,ТМГФ5Е7 № *****,Страхование путешественников,Завершен,Российский рубль,10.0,Азербайджан,548.0,1000000.0,NaN,NaN,NaN,test,policy_pricing
2,100003773,Е*****,О*****,С*****,50.0,M,2.164673e+09,ДСЖ-5/1539*****,Страхование путешественников,Действует,Российский рубль,14.0,Франция,3836.0,5000000.0,NaN,NaN,NaN,control,policy_pricing
3,10000535718,Е*****,Ф*****,Ч*****,45.0,M,2.164685e+09,ТТЕ7227779*****,Страхование путешественников,Действует,Российский рубль,14.0,Франция,3836.0,5000000.0,NaN,NaN,NaN,control,policy_pricing
4,10000583119,И*****,Ф*****,Ф*****,28.0,M,2.136530e+08,ДСЖ-5/1539*****,Страхование путешественников,Завершен,Российский рубль,10.0,Узбекистан,548.0,1000000.0,NaN,NaN,NaN,test,policy_pricing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3706,116396091,Д*****,К*****,Ц*****,44.0,F,2.137244e+08,ТББТМСЛЕ47*****,Страхование путешественников,Действует,Российский рубль,7.0,Индонезия,1918.0,5000000.0,NaN,NaN,NaN,control,policy_pricing
3707,11919548693,Д*****,М*****,Ш*****,54.0,M,2.123377e+08,ТТЕ7227715*****,Страхование путешественников,Завершен,Российский рубль,10.0,Канада,1096.0,2000000.0,NaN,NaN,NaN,control,policy_pricing
3708,11996903167,З*****,О*****,А*****,48.0,F,2.122854e+08,ТТЕ7227779*****,Страхование путешественников,Действует,Российский рубль,14.0,Египет,3836.0,5000000.0,NaN,NaN,NaN,test,policy_pricing
3709,13351107,Д*****,П*****,Л*****,53.0,M,2.122889e+08,ТТЕ7227715*****,Страхование путешественников,Действует,Российский рубль,14.0,Египет,3836.0,5000000.0,NaN,NaN,NaN,test,policy_pricing
3710,3004669418,Д*****,П*****,Ю*****,44.0,M,2.123434e+08,ТТЕ7227777*****,Страхование путешественников,Завершен,Российский рубль,10.0,Канада,1096.0,2000000.0,NaN,NaN,NaN,control,policy_pricing

In [61]:
data_test = data.loc[data['group'].isin(['test'])]

In [63]:
data_control = data.loc[data['group'].isin(['control'])]

In [67]:
test = data_test['price'].to_list()
test = np.array(test)

In [64]:
test = data_test['price']

In [68]:
control = data_control['price'].to_list()
control = np.array(control)

In [65]:
control = data_control['price']

In [72]:
print(ttest_ind(control,test,equal_var=False))
print('средняя выручка тестовой группы=',test.mean())
print('средняя выручка контрольной группы=',control.mean())

TtestResult(statistic=-3.0672248313944075, pvalue=0.0021800581773306063, df=2966.429090821134)
средняя выручка тестовой группы= 4636.203359328134
средняя выручка контрольной группы= 3623.322216521293

In [81]:
control.shape

(1949,)

In [82]:
test.shape

(1667,)

In [75]:
test_ins = data_test['insurance_amount'].to_list()
control_ins = data_control['insurance_amount'].to_list()
test_ins = np.array(test_ins)
control_ins = np.array(control_ins)

In [77]:
print(ttest_ind(control_ins,test_ins,equal_var=False))
print('средняя стоимость полиса тестовой группы=',test_ins.mean())
print('средняя стоимость полиса контрольной группы=',control_ins.mean())

TtestResult(statistic=16.175500349809845, pvalue=8.726697371724239e-57, df=3453.350394374651)
средняя стоимость полиса тестовой группы= 2828314.3371325736
средняя стоимость полиса контрольной группы= 3615854.2842483325

### По результатам анализа А/B тестирования можно дать следующие рекомендации: нужно улучшить сплит систему и систему сбора данных,так как в контрольной группе было на 282 наблюдения больше чем в тестовой,при этом в данных о группе были пропуски.По результатам анализа статистическими критериями можно принять гипотезу о том,что показатели метрик(средней выручки и стоимости полюса) в тестовой группе выше по конверсии в выручку фирмы метрик контрольной группы,важно упомянуть,что средняя выручка тестовой группы на 27 процентов выше выручки контрольной группы,при этом средняя стоимость полюса выше в контрольной группе,это говорит о том,что в контрольной группе многие клиенты не принимали решение о покупке,что свидетельствует о более высокой конверсии в покупку в тестовой группе.Тестовая группа показала положительные и значительные улучшения метрик,можно разворачивать проект на всю аудиторию.